<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${'User: ' + user.firstName + ' ' + user.lastName}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<p th:text="${user.id + ' ' + user.firstName + ' ' + user.lastName}"></p>
	</div>
</body>
</html>