<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<ul th:each="user : ${users}">
			<li><a th:href="@{/users/{id}(id = ${user.id})}"
				th:text="${user.firstName + ' ' + user.lastName}"></a></li>
		</ul>
	</div>
</body>
</html>